.mediaViewInfo {
	--web-view-name: iPhone X/XS/11 Pro – 5;
	--web-view-id: iPhone_X_XS_11_Pro___5;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: iPhone_X_XS_11_Pro___5;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#iPhone_X_XS_11_Pro___5 {
	position: absolute;
	width: 375px;
	height: 812px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: iPhone X/XS/11 Pro – 5;
	--web-view-id: iPhone_X_XS_11_Pro___5;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Ret_ngulo_4 {
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 812px;
	left: 0px;
	top: 0px;
}
#Grupo_10 {
	position: absolute;
	width: 304px;
	height: 204px;
	left: 42px;
	top: 273px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: iPhone_X_XS_11_Pro___16.html;
	cursor: pointer;
}
#temperatura {
	position: absolute;
	width: 46px;
	height: 46px;
	left: 0px;
	top: 3px;
	overflow: visible;
}
#umidade_do_ar {
	position: absolute;
	left: 69px;
	top: 0px;
	overflow: hidden;
	width: 213px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#ID56_ {
	position: absolute;
	left: 69px;
	top: 31px;
	overflow: hidden;
	width: 42px;
	height: 22px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#Amanh____ter_a___media_semanal {
	position: absolute;
	left: 4px;
	top: 63px;
	overflow: visible;
	width: 301px;
	height: 29px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(36,36,36,1);
}
#M_dia_do_mesmo_dia__nos_anos_a {
	position: absolute;
	left: 69px;
	top: 148px;
	overflow: visible;
	width: 213px;
	height: 56px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#graphicblack {
	opacity: 0.57;
	position: absolute;
	width: 44px;
	height: 44px;
	left: 4px;
	top: 151px;
	overflow: visible;
}
#ID17_ {
	position: absolute;
	left: 23px;
	top: 103px;
	overflow: visible;
	width: 50px;
	height: 34px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#ID15_ {
	position: absolute;
	left: 110px;
	top: 103px;
	overflow: visible;
	width: 50px;
	height: 34px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#ID22_ {
	position: absolute;
	left: 205px;
	top: 103px;
	overflow: visible;
	width: 50px;
	height: 34px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Grupo_11 {
	position: absolute;
	width: 371px;
	height: 193px;
	left: 31px;
	top: 62px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: iPhone_X_XS_11_Pro___15.html;
	cursor: pointer;
}
#temperatura_ {
	position: absolute;
	left: 80px;
	top: 7px;
	overflow: visible;
	width: 169px;
	height: 29px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#Min__19_C___M_x__32_C {
	position: absolute;
	left: 80px;
	top: 40px;
	overflow: hidden;
	width: 292px;
	height: 21px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#sol {
	position: absolute;
	width: 59px;
	height: 59px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Amanh____ter_a___media_semanal_bb {
	position: absolute;
	left: 15px;
	top: 72px;
	overflow: visible;
	width: 301px;
	height: 29px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(36,36,36,1);
}
#M_dia_do_mesmo_dia__nos_anos_a_bc {
	position: absolute;
	left: 80px;
	top: 137px;
	overflow: visible;
	width: 213px;
	height: 56px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#graphicblack_bd {
	opacity: 0.57;
	position: absolute;
	width: 44px;
	height: 44px;
	left: 15px;
	top: 138px;
	overflow: visible;
}
#ID18_C {
	position: absolute;
	left: 34px;
	top: 101px;
	overflow: visible;
	width: 50px;
	height: 34px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(46,46,46,1);
}
#ID22_C {
	position: absolute;
	left: 112px;
	top: 101px;
	overflow: visible;
	width: 50px;
	height: 34px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(46,46,46,1);
}
#ID20_C {
	position: absolute;
	left: 223px;
	top: 101px;
	overflow: visible;
	width: 50px;
	height: 34px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(46,46,46,1);
}
#nuvem {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 15px;
	top: 22px;
	overflow: visible;
}
#Grupo_12 {
	position: absolute;
	width: 320px;
	height: 233px;
	left: 46px;
	top: 501px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: iPhone_X_XS_11_Pro___17.html;
	cursor: pointer;
}
#Amanh____ter_a___media_semanal_bj {
	position: absolute;
	left: 0px;
	top: 92px;
	overflow: visible;
	width: 301px;
	height: 29px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(36,36,36,1);
}
#M_dia_do_mesmo_dia__nos_anos_a_bk {
	position: absolute;
	left: 65px;
	top: 177px;
	overflow: visible;
	width: 213px;
	height: 56px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#graphicblack_bl {
	opacity: 0.57;
	position: absolute;
	width: 44px;
	height: 44px;
	left: 0px;
	top: 180px;
	overflow: visible;
}
#_ndice_de__precipita__o {
	position: absolute;
	left: 65px;
	top: 0px;
	overflow: visible;
	width: 256px;
	height: 82px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#ID17__bn {
	position: absolute;
	left: 14px;
	top: 132px;
	overflow: visible;
	width: 50px;
	height: 34px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#ID15__bo {
	position: absolute;
	left: 106px;
	top: 132px;
	overflow: visible;
	width: 50px;
	height: 34px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#ID22__bp {
	position: absolute;
	left: 211px;
	top: 132px;
	overflow: visible;
	width: 50px;
	height: 34px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#ID20____2mm {
	position: absolute;
	left: 65px;
	top: 59px;
	overflow: hidden;
	width: 94px;
	height: 23px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#rain {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 13px;
	overflow: visible;
}
.Ret_ngulo_14 {
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 64px;
	left: 0px;
	top: 748px;
}
.Pol_gono_5 {
	overflow: hidden;
	position: absolute;
	width: 32px;
	height: 28px;
	transform: matrix(1,0,0,1,63,766) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: iPhone_X_XS_11_Pro___1.html;
	cursor: pointer;
}
.Caminho_5 {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 32px;
	left: 172px;
	top: 764px;
	transform: matrix(1,0,0,1,0,0);
}
.Ret_ngulo_15 {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 283px;
	top: 764px;
}
.Ret_ngulo_19 {
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#casawhite {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 22px;
	top: 17px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: iPhone_X_XS_11_Pro___1.html;
	cursor: pointer;
}