.mediaViewInfo {
	--web-view-name: iPhone X/XS/11 Pro – 17;
	--web-view-id: iPhone_X_XS_11_Pro___17;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: iPhone_X_XS_11_Pro___17;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#iPhone_X_XS_11_Pro___17 {
	position: absolute;
	width: 375px;
	height: 812px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: iPhone X/XS/11 Pro – 17;
	--web-view-id: iPhone_X_XS_11_Pro___17;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Grupo_17 {
	position: absolute;
	width: 300px;
	height: 92px;
	left: 39px;
	top: 71px;
	overflow: visible;
}
#_ndice_de__precipita__o {
	position: absolute;
	left: 77px;
	top: 0px;
	overflow: visible;
	width: 224px;
	height: 92px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(0,0,0,1);
}
#rain {
	position: absolute;
	width: 55px;
	height: 54px;
	left: 0px;
	top: 15px;
	overflow: visible;
}
.Ret_ngulo_24 {
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 64px;
	left: -2px;
	top: -2px;
}
#casawhite {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 20px;
	top: 15px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: iPhone_X_XS_11_Pro___1.html;
	cursor: pointer;
}
.Ret_ngulo_25 {
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 64px;
	left: -2px;
	top: 750px;
}
.Pol_gono_7 {
	overflow: hidden;
	position: absolute;
	width: 32px;
	height: 28px;
	transform: matrix(1,0,0,1,61,768) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: iPhone_X_XS_11_Pro___5.html;
	cursor: pointer;
}
.Caminho_7 {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 32px;
	left: 170px;
	top: 766px;
	transform: matrix(1,0,0,1,0,0);
}
.Ret_ngulo_26 {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 281px;
	top: 766px;
}
#Imagem_4 {
	position: absolute;
	width: 375px;
	height: 257px;
	left: -1px;
	top: 450px;
	overflow: visible;
}
#linegraphic {
	position: absolute;
	width: 378px;
	height: 244px;
	left: -1px;
	top: 173px;
	overflow: visible;
}